@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Open+Sans:ital,wght@0,400;1,800&family=Poppins&family=Work+Sans:wght@400;600;700&display=swap');

/* common shared styles here */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* navbar section styles start */
.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1050px;
    margin: 0 auto;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo-container{
    display: flex;
    width: 50%;
    gap: 20px;
}
.logo-container img{
    width: 100px;
    
}
.logo-container p{
    font-size: 30px;
    font-weight: 700;
}
.word-color{
    color: palevioletred;
    font-size: 40px;
}
.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items-container a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.nav-items-container .login-btn{
    background-color: rgba(11, 2, 35, 0.10);
    padding: 20px 17px;
    border-radius: 8px;
}
/* navbar section styles ends here */


/* banner section styles */
.banner-container{
    margin: 50px auto 0;
    max-width: 1050px;
    min-height: 50px;
    display: flex;
    height: 500px;
    background-color: #FFF;
}
.banner-text{
    width: 50%;
    text-align: center;
}
.banner-img{
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}
.banner-img img{
    width: 100%;
    height: auto;
}
.banner-text h2{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;  
}
.banner-text h1{
    font-family: Work Sans;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
}
.banner-description{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    
}
.btn-banner-1{
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    background-color: palevioletred;
    border: 0;
    border-radius: 45px;
    margin-left: 70px;
    
}
.btn-banner-2{
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    background-color: skyblue;
    border: 0;
    border-radius: 45px;   
}
/* banner section styles ends here */


/* online games section styles start  */

.games-text{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}
.funny-video-design{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;   
}
.games-description{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.img-container{
    display: flex;
    max-width: 1050px;
    margin: 0 auto 0;
    min-height: 400px;
    gap: 10px;
    
}
.single-img{
    width: 30%;
}
.single-img-description{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
.single-img img{
    width: 100%;
}
/* online games section styles ends here */


/* play section styles start */

.play-container{
    margin: 50px auto 0;
    max-width: 1050px;
    display: flex;
}
.playing-content{
    width: 50%;
    text-align: center;
    margin-top: 100px;
}
.playing-text-color{
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.no-downloads{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
.playing-description{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.playing-img{
    width: 50%;
}
.playing-img img{
    width: 100%;
    margin-left: 50px;
}
.btn-playing-img{
    background-color: skyblue;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    background-image: url(../images/Rectangle\ 66.png);
    position: relative;
    bottom: 150px;   
}
/* play section styles ends here */


/* footer section style */
.footer-container{
    margin: 50px auto 0;
    max-width: 1050px;
    background-color: #0B0223;
}
.footer-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.amer{
    color: #FFF;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}
.information{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: #FFF;
}
.icons{
    text-align: center;
    font-size: 40px;
    gap: 20px;
    color: #FFF;
}
.copy-right{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    color: #FFF;
}
/* footer section styles ends here */

/* icons section styles */
.icons-container{
    width: 100%;
    margin: 50px auto 0;
    margin-left: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 5px;
}
.action-games{
    display: flex;
}
.Adventure-Games{
    display: flex;
}
.Arcade-Games{
    display: flex;
}
.Educational-Games{
    display: flex;
}
.Word-Games{
    display: flex;
}
.Role-Palying-Games{
    display: flex;
}
/* icons section styles ends here */



/* Responsive styles here */

@media screen and (max-width:400){
    .nav-container{
        flex-direction: column;
    }
    .nav-items-container{
        flex-direction: column;
    }
    .nav-items-container a{
        margin-top: 20px;
    }
    .nav-items-container .login-btn{
        width: 100%;
    }
    /* nav resposive ends here */

    .banner-container{
        flex-direction: column;
    }
    .banner-text, .banner-img{
        width: 100%;
    }
    .banner-text h1{
        font-size: 30px;
    }
    .banner-text h2{
        font-size: 20px;
    }
    /* banner responsive styles ends */
    .img-container{
        flex-direction: column;
    }

    /* play section styles */
    .play-container{
        flex-direction: column;
    }
    .playing-img img{
        width: 70%;
        margin-left: 0;
    }
    .footer-content{
        flex-direction: column;
    }
    /* icons section styles */
    .icons-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .action-games,
    .Adventure-Games,
    .Arcade-Games,
    .Educational-Games,
    .Word-Games,
    .Role-Palying-Games{
        flex-direction: column;
    }
}
/* responsive styles ends here */

